

# OS
.DS_Store

# Env
.env
.env.local
.env.*.local
.env.test
.env.staging
.env.production
backend/.env
frontend/.env.local

# Logs
*.log

# Go
bin/
dist/
coverage.out

# Node
frontend/node_modules/
frontend/.next/
frontend/out/

# IDE
.idea/
.vscode/

# Docker
*.pid

backend/bin/
frontend/.next/
